@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 50vh;
    color: #fff;
    background-image: url(img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    padding: 30px 15px;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 1.2rem;

}
a:after {    
    bottom: 10;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after { 
    width: 100%; 
    left: 0; 
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}
h1 {
    margin-bottom: 10px;
}
main {
    max-width: 1080px;
    margin: 0 auto;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 30px;
}
.intro img {
    width: 200px;
}
.intro p {
    max-width: 500px;
}

.sport{
    display: flex;
    padding: 50px;
    padding-bottom: 0;
}
.sport_txt {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    padding-bottom: 110px;
}
.sport_txt h3 {
    margin-bottom: 30px;
}
.sport_img {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.sport_img img {
    width: 300px;
}
.sport_img img:nth-child(2) {
    transform: translate(200px, -50px);
}

.loisir {
    display: flex;
    padding: 0 50px;
}
.loisir_img {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.loisir_txt {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    padding-bottom: 50px;
}
.loisir_txt h3 {
    margin-bottom: 30px;
}

.loisir_img img {
    width: 300px;
}

.loisir_img img:nth-child(2) {
    transform: translate(-190px, -70px);
}