@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
    background-color: #F8E2E2;
    color: white;
}


.partieune {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
    background-color: #f9cece;
    padding-bottom: 35px;
    border: white 2px;
    margin-left: 100px;
    margin-right: 100px;
}

.text{
    display: block;
    padding-left: 400px;
    background-color: #f9cece;
}
.profil {
     height: 250px;
     width: 250px;
     border: 3px white;
     border-radius: 50%;
}

.nom {
    padding-top: 10px;
    text-decoration: underline;
    padding-bottom: 30px;
    font-size: 40px;
    background-color: #f9cece;
}

.info {
    font-size: medium;
    padding-bottom: 10px;
    background-color: #f9cece;
}

hr {
    height: 3px;
    width: 1200px;
    margin: 0px auto;
    border: none;
    background-color: white;
}

.passion {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 300px;
    padding-right: 400px;
    text-align: center;
}

.imggeshin {
    height: 200px;
    width: 200px;
}

.passion_titre{
    margin: 0% auto;
    text-align: center;
    padding-top: 25px;
    text-decoration: underline;
    font-size: 40px;
}

.geshin {
    font-size: 25px;
}

.sous {
    padding-top: 10px;
    font-size: 15px;
}

.wee{
    font-size: 20px;
}

.chien{
    padding-top: 50px;
    padding-bottom: 55px;
    text-align: center;
}

.photochien{
    height: 225px;
    width: 225px;
}

.textchien{
    
}

.chien_titre{
    font-size: 20px;
}

.souschien{
    font-size: 15px;
    padding-top: 10px;
}

.projet_titre{
    margin: 0% auto;
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
    font-size: 40px;
}

.projtext{
    text-align: center;
    font-size: 20px;
    padding-top: 25px;;
    padding-bottom: 50px;
}

.batman{
    display: block;
    margin: auto;
    height: 250px;
    width: 250px;
}

.conteneur12{
    display: flex;
    margin: auto 0px;
    

}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    padding-top: 80px;
    text-decoration: underline;  
    font-size: 65px;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}